input, textarea, select, button, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.application-header {
  background-color: #222;
  color: white;
  font-size: large;
  height: 10vh;
}

iframe {
  margin-top: 0.4em;
  height: 75vh;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: darkgray;
}

form {
  padding: 1em 1em 0 1em;
  display: inline-flex;
}

.one-third {
  flex: 1 1 auto;
}

.two-third {
  flex: 2 2 auto;
}

input {
  padding: 0em;
  margin: 0.2em 1em;
}

img {
  width: 40%;
  float: right;
  margin: 0.2em 1em;
}

.alert {
  font-size: small;
  font-style: bold;
  display: table;
  margin: 0 auto 2rem auto;
}

.tab-content {
  padding: 1em;
}

.page-content {
  padding: 1em;
}

.ag-theme-balham {
  height: 100%;
  width: 100%;
}

.btn {
  background: #1abc9c;
  border-bottom: #16a085 3px solid;
  border-left: #16a085 1px solid;
  border-top: none;
  border-right: #16a085 1px solid;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: small;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.help {
  font-size: small;
  font-style: italic;
  margin-top: 0.5em;
}

.dt-buttons {
  padding-left: 1em;
}

.tab-content .dataTables_wrapper .dataTables_processing {
  top: 4em;
  z-index: 1000;
  height: 100%;
}

.grid-container a {
  display: block;
  padding: 0.5em;
  color: gray;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
}

.grid-item:nth-of-type(odd)  {
  background: rgba(0,0,0,0.03);
}

.grid-item:nth-of-type(even)  {
  background: rgba(0,0,0,0.06);
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.loading {
  position: absolute;
  background: rgba(255,255,255,0.75);
  margin-top: 4em;
  z-index: 10;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

:disabled, .disabled {
  cursor: not-allowed;
}

.data-table-wrapper table.dataTable {
  width: 100%;
  margin: 0;
}

.data-table-wrapper .DTFC_LeftHeadWrapper tr,
.data-table-wrapper .DTFC_LeftBodyWrapper td {
  background-color: #e0e0e0;
}