.Query {
  text-align: center;
}

.Query-header {
  background-color: #222;
  color: white;
  font-size: large;
  height: 5em;
  padding: 1em;
}

.Query-intro {
  font-size: large;
  padding: 1em;
}

form label {
  display: block;
}

input {
  padding: 0.1em;
  margin: 1em;
}


